<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="bar" (click)="openFirst()">
      <img src="assets/icon/bar.png"/>
    </ion-buttons>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-title>Contatos</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="mt-1">
    <ion-item>
      <ion-label>
        <h1>Redação</h1>
        <h3>(88)3113-1717</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Whatsapp</h1>
        <h3>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5588988637636" target="_blank">(88) 9 9729-8426</a>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Editoria de Polícia</h1>
        <h3>(88)98147-7000</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Comercial</h1>
        <h3>
          <ion-icon name="call-outline"></ion-icon>
          (88) 9 9704-7000
        </h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Classificados</h1>
        <h3>
          (88)98863-7636
        </h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Nossos Emails</h1>
        <h3>
          direcao@miseria.com.br  <br/>
          comercial@miseria.com.br <br/>
          reportagem@miseria.com.br
        </h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Facebook</h1>
        <h3>
          <ion-icon name="logo-facebook"></ion-icon> facebook.com/sitemiseria
        </h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Instagram</h1>
        <h3>
          <ion-icon name="logo-instagram"></ion-icon> instagram.com/sitemiseria
        </h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Youtube</h1>
        <h3>
          <ion-icon name="logo-youtube"></ion-icon> youtube.com/tvmiseria
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
