<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="bar" (click)="openFirst()">
      <img src="assets/icon/bar.png"/>
    </ion-buttons>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="11">
        <ion-title>Expediente</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h1>Equipe:</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Normando Sóracles</h1>
        <h3>Diretor Geral</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Madson Vagner</h1>
        <h3>Diretor Executivo</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Felipe Azevedo</h1>
        <h3>Diretor de Redação</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Izabelly Macêdo</h1>
        <h3>Direção de Marketing e Redes Sociais</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Demontier Tenório</h1>
        <h3>Editor de Polícia</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Sarah Gomes</h1>
        <h3>Repórter e Colunista</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>João Boaventura Neto</h1>
        <h3>Repórter</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Kleber Ferreira</h1>
        <h3>Diretor de TI</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Alan Rodrigues</h1>
        <h3>Analista de Sistemas</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Josenildo Silva</h1>
        <h3>Publicador</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>João Paulo Coimbra</h1>
        <h3>Publicador e Editor Audiovisual</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h1>Guto Vital</h1>
        <h3>Cinegrafista e Editor Audiovisual</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
